.order-form {
  /* margin: 0; */
  display: flex;
  justify-content: center;
}

img {
  margin: 2px;
}

h3,
h4 {
  margin: 1rem;
}
p,
label {
  font: 1rem "Fira Sans", sans-serif;
}

input {
  margin: 0.4rem;
  width: 60%;
}

/* ul {
  max-width: 30rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.payment-and-address-fields {
  width: 40rem;
  margin: 2rem;
  padding: 2rem;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
}

.delivery-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 49rem) {
  .delivery-fields {
    flex-direction: row;
  }
}

.card-selection {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 49rem) {
  .card-selection {
    flex-direction: row;
  }
}

.card-item {
  /* margin: 1rem; */
}
.no-card-selected-default {
  font-weight: 100;
}

.submit-button {
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.mandatory-fields-call {
  margin-left: -1rem;
  color: blue;
  font-style: italic;
  font-size: 14px;
}
