.product-card-main {
  max-width: 15rem;
  height: 30rem;
  margin: 1rem;

  padding: 2rem;
  border: solid 3px rgb(17, 252, 252);
  /* background: rgba(140, 116, 247, 0.7); */
  background: rgba(255, 255, 255, 0.75);
  color: blue;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.pc-link {
  color: blue;
}

.product-card-image {
  max-width: 250px;
  max-height: 250px;
}

.product-card-button {
  color: blue;
  margin: 3px;
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-content: center;
}
