.product-card-main {
  max-width: 15rem;
  margin: 1rem;
  padding: 2rem;
  border: solid 3px rgb(17, 252, 252);
  /* background: rgba(140, 116, 247, 0.7); */
  background: rgba(255, 255, 255, 0.75);
  color: blue;

  display: flex;
  flex-direction: column;
  align-content: center;
}

.product-card-image {
  max-width: 250px;
  max-height: 250px;
}
