a {
  text-decoration: none;
}

.navbar-container {
  width: 100%;
  background-color: olive;
  font-family: "Aref Ruqaa Ink";
  border-bottom: 1px solid chartreuse;

  display: flex;
  flex-direction: column;

  align-items: center;
}

@media (min-width: 62rem) {
  .navbar-container {
    height: 60px;
    display: flex;
    flex-direction: row;
  }
}

.heart-button {
  text-decoration: none;
}

.navbar-left-side {
  /* margin-left: auto; */
  /* margin-left: 20px; */
  /* margin-right: auto; */
  /* min-width: 60%; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* flex-grow: 1; */
  align-content: center;
  align-items: center;
}
@media (min-width: 43rem) {
  .navbar-left-side {
    flex-direction: row;
    margin-left: 20px;
  }
}

.left-inner {
  /* min-width: 40%; */
  height: 80%;
  /* padding: 20px; */
  margin-right: 2rem;

  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */

  align-items: center;
}

@media (min-width: 43rem) {
  /* @media (min-width: 53rem) { */
  .left-inner {
    flex-direction: row;
  }
}

.logo {
  width: 20%;
  /* margin-top: 10px; */
  /* margin-left: 15px; */
  margin-bottom: 5px;
  color: chartreuse;
  font-style: italic;
  font-size: x-large;

  display: flex;
  justify-items: center;
}

@media (min-width: 77rem) {
  .logo {
    margin-right: 45px;
    /* margin-left: 45px; */
  }
}

.logo-shop {
  color: white;
  font-weight: 700;
  font-style: normal;
  font-size: x-large;
}

/* @media (min-width: 53rem) {
  .logo {
    flex-direction: row;
  }
} */

.navbar-links {
  margin-left: 30px;
  font-family: "Cookie";
  font-size: x-large;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 22rem) {
  /* @media (min-width: 53rem) { */
  .navbar-links {
    flex-direction: row;
  }
}

.inner-link {
  margin-right: 15px;
}

.right-inner {
  /* min-width: 30%; */
  height: 80%;
  margin-right: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 6;
}
/* @media (min-width: 53rem) {
  .right-inner {
    margin-right: 2rem;

    flex-direction: row;
  }
} */

.search-bar {
  min-width: 15rem;
  border-radius: 999rem;
  background: rgb(98, 0, 128);
  margin-left: 0px;
  padding: 0.01px;

  display: flex;
  justify-content: center;
  flex-grow: 6;
}
@media (min-width: 53rem) {
  .search-bar {
    flex-direction: row;
  }
}

.input-searchbar {
  width: 90%;
}

.search-button {
  margin-left: 2px;
}
/* @media (min-width: 53rem) {
  .search-button {
    flex-direction: row;
    margin-left: 2px;
  }
} */

.navbar-right-side {
  margin-right: 10px;
  width: 100%;
  height: 43px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (min-width: 62rem) {
  /* @media (min-width: 62rem) { */
  .navbar-right-side {
    padding: 0px;
    /* flex-grow: 6; */

    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
  }
}

.welcome-message {
  color: white;

  display: flex;
  flex-direction: column;
  /* justify-content: right; */
}
@media (min-width: 67rem) {
  .welcome-message {
    display: flex;
    flex-direction: row;
  }
}
.user-name {
  font-family: "Cookie";
  font-size: 24px;
  color: white;

  display: flex;
  flex-direction: column;
}

.user-looged-out {
  font-family: "Aref Ruqaa Ink";
  font-size: 14px;
}

.user-logged-in {
  color: white;
}

.user-name-highlighted {
  color: chartreuse;
}

/* .right-icons {
  display: flex;
  flex-direction: column;
  margin-top: -40px;
  margin-bottom: -15px;
}

@media (min-width: 67rem) {
  .right-icons {
    margin: 0;

    flex-direction: row;
  }
} */

.link-icon-middle {
  margin: 0 10px;
  color: white;
}
@media (min-width: 77rem) {
  .link-icon-middle {
    flex-direction: row;
    margin-top: 10px;
    padding: 0px;
  }
}

.link-icon {
  margin: 0 10px;
  color: chartreuse;
}

@media (min-width: 77rem) {
  .link-icon {
    padding: 0px;

    flex-direction: row;
  }
}

.heart-div {
}

.filled-heart {
  color: chartreuse;
}
