a {
  text-decoration: none;
}

.navbar-container {
  width: 100%;
  background-color: olive;
  font-family: "Aref Ruqaa Ink";

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 77rem) {
  .navbar-container {
    height: 60px;
    display: flex;
    flex-direction: row;
  }
}

.navbar-left-side {
  margin-left: auto;
  margin-right: auto;
  min-width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* flex-grow: 1; */
  align-content: center;
  align-items: center;
}
@media (min-width: 56rem) {
  .navbar-left-side {
    flex-direction: row;
    margin-left: 20px;
  }
}

.left-inner {
  min-width: 40%;
  height: 80%;
  /* padding: 20px; */
  margin-right: 2rem;

  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */

  align-items: center;
}

@media (min-width: 53rem) {
  .left-inner {
    flex-direction: row;
  }
}

.logo {
  width: 20%;
  /* margin-top: 10px; */
  margin-right: 60px;
  margin-bottom: 5px;
  color: chartreuse;
  font-style: italic;
  font-size: x-large;

  display: flex;
  justify-items: center;
}

.logo-shop {
  color: white;
  font-weight: 700;
  font-style: normal;
  font-size: x-large;
}

@media (min-width: 53rem) {
  .logo {
    flex-direction: row;
  }
}

.navbar-links {
  margin-left: 30px;
  font-family: "Cookie";
  font-size: x-large;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 53rem) {
  .navbar-links {
    flex-direction: row;
  }
}

.inner-link {
  margin-right: 10px;
}

.right-inner {
  min-width: 30%;
  height: 80%;
  margin-right: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 53rem) {
  .right-inner {
    flex-direction: row;
  }
}

.search-bar {
  width: 100%;
  border-radius: 999rem;
  background: rgb(98, 0, 128);
  margin-left: 30px;
  padding: 0.01px;

  display: flex;
  justify-content: center;
}
@media (min-width: 53rem) {
  .search-bar {
    flex-direction: row;
  }
}

.search-button {
  margin-left: 20px;
}
@media (min-width: 56rem) {
  .search-button {
    flex-direction: row;
    margin-left: 2px;
  }
}

.navbar-right-side {
  margin-right: 20px;
  width: 50%;
  display: flex;

  flex-direction: column;
  justify-items: right;
  align-items: center;
}

@media (min-width: 77rem) {
  .navbar-right-side {
    padding: 0px;

    display: flex;
    flex-direction: row;
    justify-content: right;
  }
}

.welcome-message {
  color: white;

  display: flex;
  flex-direction: column;
}
@media (min-width: 53rem) {
  .welcome-message {
    flex-direction: row;
  }
}
.user-name {
  font-family: "Cookie";
  font-size: 24px;
  color: white;

  display: flex;
  flex-direction: column;
}

.user-looged-out {
  font-family: "Aref Ruqaa Ink";
  font-size: 14px;
}

.user-logged-in {
  color: white;
}

.user-name-highlighted {
  color: chartreuse;
}

.right-icons {
  display: flex;
  flex-direction: column;
  margin-top: -40px;
  margin-bottom: -15px;
}

@media (min-width: 77rem) {
  .right-icons {
    margin: 0;

    flex-direction: row;
  }
}

.link-icon-middle {
  margin: 0 10px;
  color: white;
}
@media (min-width: 77rem) {
  .link-icon-middle {
    flex-direction: row;
    margin-top: 10px;
    padding: 0px;
  }
}

.link-icon {
  margin: 0 10px;
  color: chartreuse;
}

@media (min-width: 77rem) {
  .link-icon {
    padding: 0px;

    flex-direction: row;
  }
}
