.main-container {
  width: 100%;
}

.home-page-main {
  justify-content: center;

  /* background-image: url(https://media.macphun.com/img/uploads/customer/blog/504/15360610675b8e6e8b52bd36.49629027.jpg?q=85&w=1680); */
  background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/many-colorful-jellyfish-on-the-dark-sea-royalty-free-image-1572034000.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: chartreuse;
}

.hero-banner {
  height: 150px;
  background-color: #0c0c8a;
  font-family: "Aref Ruqaa Ink";
  border-bottom: 1px solid chartreuse;

  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-call {
  margin-bottom: 1.8rem;
}

.category-call {
  margin: 0;
  padding: 1rem;
  background-color: rgba(231, 89, 89, 0.5);
  color: chartreuse;
  font-size: 24px;
  font-weight: bolder;
}

.category-selector {
  margin-top: 1rem;
}

.footer-hp {
  width: 100%;
  height: 200px;
  border-top: 1px solid chartreuse;
  border-bottom: 1px solid chartreuse;

  background-color: #0c0c8a;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-direction: column;
  flex-wrap: wrap;
}

.footer-text {
  width: 60%;
  padding: 10px;
}

.footer-right-side {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* @media (min-width: 77rem) {
  .footer-right-side {
    flex-direction: row;
  }
} */

.costumer-call {
  color: white;
  font-size: 16px;
  font-family: "Aref Ruqaa Ink";
}
.costumer-center-email {
  color: chartreuse;
  font-size: 16px;
  font-family: "Aref Ruqaa Ink";
  font-style: italic;
  font-weight: bold;
}

.product-card {
  margin-left: -2.4rem;
  margin-bottom: 0;
  padding-bottom: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.pageNumbers {
  background: rgba(255, 255, 255, 0.8);
  margin-top: 1.5rem;
  margin-left: -2.4rem;
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.pageNumbers li {
  color: blue;
  font-weight: bolder;
  font-size: 22px;
  font-family: " Aref Ruqaa Ink ";
  padding: 10px;
  border: 1px solid white;
  cursor: pointer;
}

.pageNumbers li.active {
  background-color: white;
  color: black;
}
